@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500&family=Tajawal:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family: 'Saira', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.container {
  padding: 0 100px;
}
section {
  padding: 50px 0;
}
img {
  width: 100%;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.main-p {
  font-size: 18px;
  margin-bottom: 30px;
}
.sub-p {
  font-size: 16px;
}
$black_color: #23262f;
$green_color: #286f6c;
$white: #fff;
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  background-color: $black_color;
  height: 300px;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
@mixin blur {
  background: rgba(226, 226, 226, 0.4);
  backdrop-filter: blur(12px);
}
