@import "./sass/mixins";
body {
  header {
    width: 100%;
    height: 120vh;
    background-image: url("images/home.jpg");
    background-size: 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    nav {
      &.active {
        position: fixed;
        top: 0;
        left: 0;
        background: $white;
        z-index: 9999999999;
        transition: 0.5 all ease-in-out;
        box-shadow: $main_shadow;
        .logo {
          color: $green_color;
        }
        ul li a {
          color: $black_color;
          &::after {
            background-color: $black_color;
          }
        }
        .nav_btns {
          button {
            color: $black_color;
            a {
              color: $black_color;
            }
          }
        }
      }
      width: 100%;
      height: 80px;
      @include space-between();
      padding: 28px 100px;
      font-weight: 500;
      .logo {
        font-size: 32px;
        color: $white;
      }
      ul {
        display: flex;
        gap: 50px;
        li a {
          position: relative;
          color: $white;
          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            height: 1px;
            background-color: $white;
            width: 0;
          }
          &.active::after,
          &:hover::after {
            width: 100%;
            transition: 0.2s;
          }
        }
      }
      .nav_btns {
        button {
          @include clearInput();
          color: $white;
          font-size: 18px;
          a {
            color: $white;
          }
        }
      }
    }
    main {
      position: relative;
      height: calc(120vh - 80px);
      @include centerFlex();
      flex-direction: column;
      justify-content: flex-start;
      .custom_dot {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        @include blur();
        @include centerFlex();
        cursor: pointer;
        &.dot1 {
          position: absolute;
          left: 195px;
          top: 200px;
        }
        &.dot2 {
          position: absolute;
          left: 275px;
          bottom: 230px;
        }
        &.dot3 {
          position: absolute;
          right: 140px;
          bottom: 140px;
        }
        span {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $white;
        }
      }
      h1 {
        text-align: center;
        color: $white;
        font-size: 50px;
        line-height: 62.8px;
        font-weight: 500;
        margin-top: 140px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 1%;
        color: $white;
        margin-top: 50px;
      }
      button {
        width: 257px;
        height: 62px;
        border-radius: 10px;
        @include centerFlex();
        @include clearInput();
        @include blur();
        font-size: 20px;
        color: $white;
        margin-top: 55px;
        cursor: pointer;
      }
      .counter_container {
        width: calc(100% - 200px);
        height: 130px;
        background-color: $green_color;
        position: absolute;
        left: 100px;
        bottom: -145px;
        border-radius: 20px;
        @include centerFlex();
        padding: 20px 0;
        .count {
          width: calc(100% / 4);
          height: 100%;
          border-right: 1px solid $white;
          @include centerFlex();
          flex-direction: column;
          &:nth-child(4) {
            border-right: 0;
          }
          h3 {
            font-size: 28px;
            line-height: 30px;
            color: $white;
          }
          p {
            margin-top: 0;
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }
  }
  .container {
    .about {
      h2,
      h3,
      p {
        color: $black_color;
      }
      .grid {
        padding: 50px 0;
        .sec_p{
          margin-top: 40px;
        }
        .about-text {
          .serv {
            display: flex;
            &:first-of-type {
              margin-bottom: 25px;
            }
            .icon {
              margin-right: 15px;
            }
          }
        }
      }
    }
    .features {
      padding-top: 0;
      .h2-feat,
      .feat-p {
        text-align: center;
        width: 500px;
        margin: auto;
      }
      .products {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        .product {
          .img {
            border: 1px solid rgba(16, 38, 55, 0.1);
            border-radius: 10px;
            position: relative;
            mix-blend-mode: multiply;
            &::before {
              content: url(images/plus.png);
              position: absolute;
              bottom: 15px;
              right: 15px;
              cursor: pointer;
            }
          }
          .name {
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            display: block;
          }
          .price {
            display: block;
            font-size: 16px;
            .offer {
              opacity: 0.5;
              margin: 10px 0 0 10px;
              text-decoration: line-through;
            }
          }
        }
      }
      .controlers {
        @include centerFlex();
        margin: 60px 0 50px;
        gap: 50px;
        .prev,
        .next {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          @include centerFlex();
          cursor: pointer;
          i{
            font-size: 14px;
          }
        }
        .disabled {
          opacity: 0.5;
          pointer-events: none
        }
        .indicats {
          @include space-between();
          gap: 20px;
          .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $black_color;
            cursor: pointer;
          }
          .active {
            background-color: $black_color;
          }
        }
      }
      .grid {
        .controlers{
          margin: 50px 0 50px;
        }
        padding: 50px 0;
        .about-text {
          h2 {
            font-size: 32px;
          }
          .profile {
            @include centerFlex();
            justify-content: flex-start;
            margin-bottom: 30px;
            img {
              width: 80px;
              height: 80px;
              border-radius: 50%;
            }
            .info {
              margin-left: 20px;
              .user {
                font-size: 20px;
                font-weight: bold;
              }
              .pos {
                font-size: 16px;
                opacity: 0.5;
              }
            }
          }
          .controlers {
            justify-content: flex-start;
            .next {
              background-color: #286f6c;
              color: $white;
            }
            .prev {
              opacity: 1;
            }
          }
        }
      }
    }
    .contact {
      width: 100%;
      padding-top: 0;
      padding-bottom: 50px ;
      .hed {
        color: $black_color;
        margin-bottom: 50px;
        text-align: center;
      }
      .row {
        display: flex;
        width: 100%;
        gap: 5%;
        .form_container {
          width: 50%;
          form {
            width: 100%;
            .info_grid {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 20px;
              .inp_field {
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                label {
                  color: $black_color;
                  font-size: 15px;
                  font-weight: 500;
                }
                input {
                  @include clearInput();
                  border: 1px solid $footer_color;
                  border-radius: 4px;
                  padding: 0 10px;
                  height: 40px;
                  color: $black_color;
                  &::placeholder {
                    color: $footer_color;
                  }
                }
              }
            }
            .text_area {
              padding: 30px 10px 0 10px;
              display: flex;
              width: 100%;
              flex-direction: column;
              label {
                color: $black_color;
                font-size: 15px;
                font-weight: 500;
              }
              textarea {
                @include clearInput();
                border: 1px solid $footer_color;
                border-radius: 4px;
                padding: 10px 10px;
                color: $black_color;
                &::placeholder {
                  color: $footer_color;
                }
              }
            }
            button {
              margin-top: 30px;
              margin-left: 10px;
              cursor: pointer;
              width: 180px;
              font-size: 16px;
              height: 40px;
              border-radius: 20px;
              @include clearInput();
              background: $white;
              box-shadow: $main_shadow;
              color: $black_color;
            }
          }
        }
        .map_container {
          width: 45%;
        }
      }
    }
  }
  footer {
    width: 100%;
    background-color: $black_color;
    padding: 0 100px;
    .row {
      border-bottom: 1px solid $footer_color;
      @include space-between();
      padding: 40px 0;
      .logo {
        color: $footer_color;
        font-size: 24px;
        font-weight: 500;
      }
      .social {
        display: flex;
        gap: 15px;
        a {
          min-width: 30px;
          min-height: 30px;
          border-radius: 50%;
          background-color: #2a2b40;
          @include centerFlex();
          color: $footer_color;
          font-size: 12px;
        }
      }
    }
    .container_grid {
      padding: 50px 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 100px;
      .col {
        h5 {
          color: $footer_color;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 30px;
        }
        .links {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            color: $footer_color;
            font-size: 14px;
          }
        }
      }
    }
    .copy {
      height: 50px;
      width: 100%;
      p {
        color: $footer_color;
        text-align: center;
      }
    }
  }
}
