@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500&family=Tajawal:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family: "Saira", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.container {
  padding: 0 100px;
}

section {
  padding: 50px 0;
}

img {
  width: 100%;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.main-p {
  font-size: 18px;
  margin-bottom: 30px;
}

.sub-p {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #23262f;
  height: 300px;
}

body header {
  width: 100%;
  height: 120vh;
  background-image: url("images/home.jpg");
  background-size: 100%;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
body header nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 100px;
  font-weight: 500;
}
body header nav.active {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999999999;
  transition: 0.5 all ease-in-out;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.05);
}
body header nav.active .logo {
  color: #286f6c;
}
body header nav.active ul li a {
  color: #23262f;
}
body header nav.active ul li a::after {
  background-color: #23262f;
}
body header nav.active .nav_btns button {
  color: #23262f;
}
body header nav.active .nav_btns button a {
  color: #23262f;
}
body header nav .logo {
  font-size: 32px;
  color: #fff;
}
body header nav ul {
  display: flex;
  gap: 50px;
}
body header nav ul li a {
  position: relative;
  color: #fff;
}
body header nav ul li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  background-color: #fff;
  width: 0;
}
body header nav ul li a.active::after, body header nav ul li a:hover::after {
  width: 100%;
  transition: 0.2s;
}
body header nav .nav_btns button {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}
body header nav .nav_btns button a {
  color: #fff;
}
body header main {
  position: relative;
  height: calc(120vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}
body header main .custom_dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(226, 226, 226, 0.4);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body header main .custom_dot.dot1 {
  position: absolute;
  left: 195px;
  top: 200px;
}
body header main .custom_dot.dot2 {
  position: absolute;
  left: 275px;
  bottom: 230px;
}
body header main .custom_dot.dot3 {
  position: absolute;
  right: 140px;
  bottom: 140px;
}
body header main .custom_dot span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
body header main h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 62.8px;
  font-weight: 500;
  margin-top: 140px;
}
body header main p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1%;
  color: #fff;
  margin-top: 50px;
}
body header main button {
  width: 257px;
  height: 62px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  background: rgba(226, 226, 226, 0.4);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  font-size: 20px;
  color: #fff;
  margin-top: 55px;
  cursor: pointer;
}
body header main .counter_container {
  width: calc(100% - 200px);
  height: 130px;
  background-color: #286f6c;
  position: absolute;
  left: 100px;
  bottom: -145px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
body header main .counter_container .count {
  width: 25%;
  height: 100%;
  border-right: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body header main .counter_container .count:nth-child(4) {
  border-right: 0;
}
body header main .counter_container .count h3 {
  font-size: 28px;
  line-height: 30px;
  color: #fff;
}
body header main .counter_container .count p {
  margin-top: 0;
  font-size: 15px;
  line-height: 22px;
}
body .container .about h2,
body .container .about h3,
body .container .about p {
  color: #23262f;
}
body .container .about .grid {
  padding: 50px 0;
}
body .container .about .grid .about-text .serv {
  display: flex;
}
body .container .about .grid .about-text .serv:first-of-type {
  margin-bottom: 25px;
}
body .container .about .grid .about-text .serv .icon {
  margin-right: 15px;
}
body .container .contact {
  width: 100%;
  padding: 50px 0;
}
body .container .contact .hed {
  color: #23262f;
  margin-bottom: 50px;
  text-align: center;
}
body .container .contact .row {
  display: flex;
  width: 100%;
  gap: 5%;
}
body .container .contact .row .form_container {
  width: 50%;
}
body .container .contact .row .form_container form {
  width: 100%;
}
body .container .contact .row .form_container form .info_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
body .container .contact .row .form_container form .info_grid .inp_field {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
body .container .contact .row .form_container form .info_grid .inp_field label {
  color: #23262f;
  font-size: 15px;
  font-weight: 500;
}
body .container .contact .row .form_container form .info_grid .inp_field input {
  border: none;
  background: none;
  outline: none;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 0 10px;
  height: 40px;
  color: #23262f;
}
body .container .contact .row .form_container form .info_grid .inp_field input::-moz-placeholder {
  color: #c4c4c4;
}
body .container .contact .row .form_container form .info_grid .inp_field input:-ms-input-placeholder {
  color: #c4c4c4;
}
body .container .contact .row .form_container form .info_grid .inp_field input::placeholder {
  color: #c4c4c4;
}
body .container .contact .row .form_container form .text_area {
  padding: 30px 10px 0 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
body .container .contact .row .form_container form .text_area label {
  color: #23262f;
  font-size: 15px;
  font-weight: 500;
}
body .container .contact .row .form_container form .text_area textarea {
  border: none;
  background: none;
  outline: none;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 10px 10px;
  color: #23262f;
}
body .container .contact .row .form_container form .text_area textarea::-moz-placeholder {
  color: #c4c4c4;
}
body .container .contact .row .form_container form .text_area textarea:-ms-input-placeholder {
  color: #c4c4c4;
}
body .container .contact .row .form_container form .text_area textarea::placeholder {
  color: #c4c4c4;
}
body .container .contact .row .form_container form button {
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
  width: 180px;
  font-size: 16px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: none;
  outline: none;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.05);
  color: #23262f;
}
body .container .contact .row .map_container {
  width: 45%;
}
body footer {
  width: 100%;
  background-color: #23262f;
  padding: 0 100px;
}
body footer .row {
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
body footer .row .logo {
  color: #c4c4c4;
  font-size: 24px;
  font-weight: 500;
}
body footer .row .social {
  display: flex;
  gap: 15px;
}
body footer .row .social a {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: #2a2b40;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4c4c4;
  font-size: 12px;
}
body footer .container_grid {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 100px;
}
body footer .container_grid .col h5 {
  color: #c4c4c4;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
body footer .container_grid .col .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body footer .container_grid .col .links a {
  color: #c4c4c4;
  font-size: 14px;
}
body footer .copy {
  height: 50px;
  width: 100%;
}
body footer .copy p {
  color: #c4c4c4;
  text-align: center;
}/*# sourceMappingURL=main.css.map */